[submodule "writers/cinema_lib"]
	path = writers/cinema_lib
	url = https://github.com/cinemascience/cinema_lib
[submodule "viewers/cinema_explorer"]
	path = viewers/cinema_explorer
	url = https://github.com/cinemascience/cinema_explorer
[submodule "viewers/cinema_compare"]
	path = viewers/cinema_compare
	url = https://github.com/cinemascience/cinema_compare
[submodule "viewers/cinema_components"]
	path = viewers/cinema_components
	url = https://github.com/cinemascience/cinema_components
